
body {
    background-color : #DDD;
    color : #222;
}

#head {
  margin: 20px auto;
}
#head > a {
  text-decoration: none;
}
h1 {
  font-size: 36px;
  color: #666;
  text-align: center;
}

div#ctrls {
    margin: 0 auto 30px;
    width : 800px;
    background: #aaa;
    text-align: left;
}

input#btn_delete {
    float : right;
}

div#main {
    padding : 5px;
    margin: 0 auto 20px;
    text-align: center;
}
video {
  background: #000;
  margin: 0;
}

.editable {
  padding : 4px;
  background-color : #FFA;
}
#foot {
  padding: 0 10px 20px;
}