div#tags {
    float : left;
    margin-right : 5px;
}

h1, h2 {
  margin-bottom : 0px;
}

h1 .editable {
  width : 800px;
}

input.editable {
  font-size : smaller;
}

ul {
    margin : 0px;
}

div#main {
    margin-top : 20px;
}

div#head div {
    margin-left : 20px;
}

a.tag {
    margin-right : 4px;
}